.u-section-1 .u-sheet-1 {
  min-height: 2864px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 360px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 119px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2719px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 128px 247px 0 81px;
}

.u-section-1 .u-image-1 {
  width: 333px;
  height: 336px;
  margin: -336px 81px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 81px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2450px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 951px;
    margin-right: 160px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 565px;
    margin-bottom: -1324px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2242px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -990px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 2315px;
    margin-bottom: -1515px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -774px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1883px;
    margin-bottom: -1731px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -283px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 850px;
    margin-bottom: -2222px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 22px;
}