.u-section-1 .u-sheet-1 {
  min-height: 2730px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2714px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 81px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 312px;
  height: 315px;
  margin: -2737px 45px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1542px;
    margin-bottom: -1324px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2238px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 902px;
    margin-bottom: -802px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 3000px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -808px;
  }

  .u-section-1 .u-image-1 {
    width: 264px;
    height: 266px;
    margin-top: -3133px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1160px;
    margin-bottom: -1731px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -501px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4753px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 2648px;
    margin-bottom: 24px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2081px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -2431px;
  }

  .u-section-1 .u-image-1 {
    width: 220px;
    height: 222px;
    margin-top: -4734px;
  }
}